<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{url_for('aidt_chap_ass_api')}}" method="POST">
        <input type="text" class="key" name="key" id="key">
        <input type="text" class="sch" name="sch" id="sch">
        <input type="text" class="grade" name="grade" id="grade">
        <input type="text" class="chap" name="chap" id="chap">
        <button type="submit">submit</button>
    </form>
    
</body>
</html>